/.idea/
/out/
/patients.xlsx
/src/META-INF/
/config.properties
/patients.iml
/patients.jar
/~$patients.xlsx
/lib/
/test_logs/
/stats.txt
/log.txt
/log(old2).txt
/log(old).txt
/file.xlsx
/dubli.txt
/dubli(old.txt
/.~lock.patients.xlsx#
/src/config.properties
/src/ru/rtlabs/PatientAdd.java
